
    <section class="author">
        <div class="author-meta"> 
            <span class="author-location fa fa-tags"> Read more about: {{tags separator=" &bullet; "}}</span> 
            {{#get "posts" limit="all" filter="featured:true"}}
    {{#foreach posts}} </br>
        <span class="author-location fa fa-heart-o" style="color:#F40034;"> Featured: <a href="{{slug}}">{{title}}</a></span>
    {{/foreach}}
{{/get}}
                </div>
    </section>
                             
                                            
