
        <footer class="post-meta fa fa-tags"> read more about <span class="post-meta"> {{tags separator=" &bullet; "}}</span>
                                            </footer>
                             
                                            
